html, body {
    background-color: #252525;
}
html {
    display: table;
    margin: auto;
}

.title{
    font-weight: 200 !important;
}
h1{
    
    padding-top: 15%;
    letter-spacing: 2px;
    float:left;
    font-family:sans-serif;
    width:50%;
    background:none;

    color: white;
    margin: 0.2em 0 0 0;
}
.canvas, .bottom-canvas{

    background-color: #252525;
}
.col-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button1{
    
    width: calc(45%);
    background: none;
    padding:0.25em 1.1em !important;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0 !important;
    border-radius:0.12em !important;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center !important;
    transition: all 0.2s;
    float: left !important;
}
.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    .button1{
    display:block;
    margin:0.4em auto;
    }
    .select1{
    display:block;
    margin:0.4em auto;
    }
}

.select1{
    width: calc(90% + 0.3em);
    background:none;
    display: inline-block;
    padding: 0.25em 1.1em !important;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:300;
    color: white;
    text-align:center;
    transition: all 0.2s;
    box-sizing: border-box;
    appearance:none;
    -moz-appearance:none;
}
.select1:hover{
    color:black;
    background-color:white;
}

.mainButtons{
    width: 100%;
    
}

.slider{
    opacity: 0.7;
    width: calc(90% + 0.3em);

}
.slider:hover {
    opacity: 1;
}
.countText{
    white-space: pre;
    
    font-family:sans-serif;
    width:50%;
    background:none;
    font-weight:300;
    color: white;
    margin: 0.2em 0 0 0;
}
.stats{
    background-color: #252525;
}
.stat-text{
    text-align:right;
    float: right;
}
.stats > p{
    width: 100%;
    margin: 0px !important;
    
}